/* Stile per i link di navigazione in modalità mobile, che innanzitutto non sono visibili. */
.menu-toggle {
    display: none;
    transition: transform 0.2s ease;   /* Transizione per l'effetto di trasformazione da X a ☰. */
}
.mobile-menu {
    display: none;
}

/* Menu a tendina. */
.menu-toggle.changing {
    transform: rotate(90deg);   /* Rotazione del menu quando viene cliccato per aprirlo o per chiuderlo. */
}

/* Si colora di rosso il link attivo del menu mobile. */
.mobile-menu a.active {
    color: red;
    border-bottom-color: red;   
}

@media( max-width: 1181px) {
    .carosello img {
        height: 370px;         /* Mantiene le proporzioni corrette. */
    }
}

@media( max-width: 1025px) {
    .carosello img {
        height: 360px;         /* Mantiene le proporzioni corrette. */
    }
}

/* Media Queries per dispositivi mobili. */
@media (max-width: 1281px) { 

    /* Blocco dello scroll orizzontale per schermi piccoli. */
    body {
        text-align: center;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    /* Posizionamento degli elementi del footer in verticale. */
    footer {
        display:block;
        text-align: center;
        flex-direction: column;
    } 

    /* Aggiunta di un bordo tra le sezioni del footer per una migliore separazione visiva tranne l'ultima sezione. */
    footer > div:not(:last-child) {
        border-bottom: 1px solid white;
        padding-bottom: 15px;
    }

    /* Si nasconde la barra di navigazione normale per mostrare il menu mobile. */
    .navbar-2 {
        display: none;
    }

    /* Stile del pulsante di apertura del menu mobile. */
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 38px;
        color: black;
    }

    /* Stile del menu a tendina. */
    .mobile-menu {
        display: none;
        position: absolute;
        top: 100px;   /* Si fa partire dopo l'altezza della navbar. */
        right: 0;
        width: 100%;
        background: #000000;
        padding: 20px;
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    /* Animazione in apertura. */
    .mobile-menu.open {
        display: flex;
        animation: slideIn 0.4s ease forwards;
    }

    /* Animazione in chiusura. */
    .mobile-menu.closing {
        display: flex;   /* Mantiene il menu visibile durante l'animazione. */
        animation: slideOut 0.4s ease forwards;
    }

    .mobile-menu a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    .nome,.cognome, .telefono, .email, .messaggio {
        padding: 8px 12px;
        width: 100%;
    }

    hr {
        width: 100%;
    }

    /* Stile del carosello in modalità mobile. */
    .carosello {
        width: 100%;           /* Il carosello occupa l'80% della larghezza del suo contenitore (la sezione). */
    }
    
    .carosello img {
        width: 100%;          /* L'immagine occupa tutta la larghezza disponibile. */
        height: 350px;         /* Mantiene le proporzioni corrette. */
    }
}

/* Si cambia la dimensione del frame in base alla grandezza dello schermo. */
@media (max-width: 380px) {
    /* Dimensione del frame per schermi molto piccoli. */
    .section-page:last-child iframe {
       height: 55svh;
    }
    
    .carosello img {
        width: 100%;          /* L'immagine occupa tutta la larghezza disponibile. */
        height: 300px;         /* Mantiene le proporzioni corrette. */
    }
}

/* Animazioni per l'apertura e chiusura del menu mobile applicate sopra. */
@keyframes slideIn {
    from { opacity: 0; transform: translateY(-1px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes slideOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-1px); }
}
